/**定义全局样式**/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
.B {
  font-weight: bold;
}
.dfc {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.dfcs {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
}
.dfcc {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
/**定义背景颜色函数**/
/**定义css3函数**/
/**重置swiper样式**/
.swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent;
  border: 0.02rem solid #ffffff;
  outline: none;
  resize: none;
}
.swiper-pagination {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ffffff;
}
/**公共点击效果**/
.btn-sure {
  width: 100%;
  height: 0.84rem;
  line-height: 0.84rem;
  border-radius: 0.1rem;
  background-color: #f03745;
  text-align: center;
  border: none;
  padding: 0;
  outline: 0;
  font-size: 0.34rem;
  color: #ffffff;
  display: block;
}
.btn-active:active {
  opacity: 0.7;
  transition: opacity 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -ms-transition: opacity 0.3s ease 0s;
}
/**公共头部**/
.header {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: transparent;
  height: 0.88rem;
}
.header.index {
  position: absolute;
}
.header.other {
  background-color: #f03745;
}
.header.other .serach-box input {
  border-radius: 0.1rem;
}
.header.other .tomine .op:before {
  background-color: #f7959d;
}
.header .address {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  font-size: 0.32rem;
  color: #ffffff;
}
.header .address img {
  margin-left: 0.15rem;
  width: 0.28rem;
  height: 0.15rem;
}
.header .serach-box {
  position: relative;
  width: 3.86rem;
  margin-left: 0.2rem;
}
.header .serach-box input {
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.3rem;
  color: #ffffff;
  padding-left: 0.6rem;
  width: 100%;
}
.header .serach-box input::-webkit-input-placeholder {
  font-size: 0.26rem;
  color: #ffffff;
}
.header .serach-box input:-moz-placeholder {
  font-size: 0.26rem;
  color: #ffffff;
}
.header .serach-box input:-ms-input-placeholder {
  font-size: 0.26rem;
  color: #ffffff;
}
.header .serach-box img {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  left: 0.17rem;
  top: 0.17rem;
}
.header .tomine {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  font-size: 0.28rem;
  color: #ffffff;
  position: relative;
}
.header .tomine .op {
  padding: 0 0.23rem;
  position: relative;
}
.header .tomine .op:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.15rem;
  height: 0.3rem;
  background-color: #b5b3b2;
  width: 0.02rem;
}
.header .tomine .op:last-child {
  padding-right: 0;
}
.header .tomine .op:last-child:before {
  display: none;
}
.header .tomine .op ul {
  position: absolute;
  background-color: #ffffff;
  min-width: 1.55rem;
  z-index: 101;
  border-radius: 0.1rem;
  left: 0.1rem;
  top: 0.6rem;
  display: none;
}
.header .tomine .op ul::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-bottom: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 0.3rem;
  top: -5px;
}
.header .tomine .op ul li {
  font-size: 0.28rem;
  color: #333333;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}
.header #mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}
.header #mask.show {
  display: block;
}
.footer {
  background-color: #f1f1f1;
  padding: 0.3rem 0;
}
.footer ul {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.footer ul li {
  font-size: 0.22rem;
  color: #999999;
  line-height: 0.4rem;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
  position: relative;
}
.footer ul li:before {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -0.11rem;
  width: 2px;
  height: 0.22rem;
  background-color: #999999;
}
.footer ul li:last-child {
  margin-right: 0;
}
.footer ul li:last-child::before {
  display: none;
}
.footer p {
  font-size: 0.2rem;
  color: #666666;
  line-height: 0.5rem;
  text-align: center;
  padding: 0 1.2rem;
}
.main-content {
  padding-top: 0.88rem;
  background-color: #f2f2f2;
}
.main-content.top {
  padding-top: 0;
}
.index-banner .swiper-slide img {
  display: block;
  width: 100%;
}
.index-server {
  background-color: #ffffff;
  padding: 0 0.25rem 0.2rem;
  margin-top: 0.2rem;
}
.index-server .s-title {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.28rem;
  color: #333333;
  padding: 0.28rem 0;
}
.index-server .s-title span {
  padding: 0 0.15rem;
  flex-shrink: 0;
}
.index-server .s-title img {
  height: 0.11rem;
}
.index-server .list {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.1rem;
}
.index-server .list li {
  width: 32%;
  margin-right: 2%;
}
.index-server .list li:last-child {
  margin-right: 0;
}
.index-server .list li img {
  display: block;
  width: 100%;
}
.index-server .process {
  margin-bottom: 0.38rem;
}
.index-server .process img {
  display: block;
  width: 100%;
}
.index-server-list li {
  background-color: #ffffff;
  margin-top: 0.2rem;
  padding-bottom: 0.1rem;
}
.index-server-list li .title {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  height: 0.98rem;
  border-bottom: 0.01rem solid #edebec;
  padding: 0 0.25rem;
}
.index-server-list li .title h2 {
  position: relative;
  font-size: 0.32rem;
  font-weight: bold;
  color: #ef3744;
}
.index-server-list li .title h2::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-left: 5px solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -0.15rem;
  top: 50%;
  margin-top: -5px;
}
.index-server-list li .title span {
  font-size: 0.24rem;
  color: #999999;
  position: relative;
}
.index-server-list li .title span::before {
  position: absolute;
  content: '';
  top: -0.2rem;
  bottom: -0.2rem;
  left: -0.1rem;
  right: -0.1rem;
}
.index-server-list li .con {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0.2rem;
}
.index-server-list li .con a {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  width: 25%;
  font-size: 0.26rem;
  color: #333333;
}
.service {
  background-color: #ffffff;
}
.service .service-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  align-items: flex-start;
}
.service .service-wrap .left-nav-box {
  width: 29%;
  height: 100%;
  position: relative;
}
.service .service-wrap .left-nav-box::after {
  position: absolute;
  content: '';
  right: 0.01rem;
  height: 100%;
  top: 0;
  width: 0.02rem;
  background-color: #e9e9e9;
  z-index: 4;
}
.service .service-wrap .left-nav-box ul {
  background-color: #f7f7f7;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.service .service-wrap .left-nav-box ul li {
  font-size: 0.3rem;
  color: #333333;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 0.01rem solid #e9e9e9;
  position: relative;
}
.service .service-wrap .left-nav-box ul li.on {
  background-color: #ffffff;
  color: #f03745;
}
.service .service-wrap .left-nav-box ul li.on::before {
  position: absolute;
  content: '';
  left: 0;
  width: 0.04rem;
  height: 0.4rem;
  background-color: #f03745;
  top: 50%;
  margin-top: -0.2rem;
}
.service .service-wrap .left-nav-box ul li.on::after {
  position: absolute;
  content: '';
  right: 0;
  width: 0.04rem;
  height: 99%;
  background-color: #ffffff;
  top: 0;
  z-index: 5;
}
.service .service-wrap .right-nav-box {
  width: 71%;
  height: 100%;
}
.service .service-wrap .right-nav-box .con-box {
  padding: 0.25rem 0.25rem 0;
  height: 100%;
  overflow: auto;
}
.service .service-wrap .right-nav-box .con-box img {
  display: block;
  width: 100%;
}
.service .service-wrap .right-nav-box .con-box ul {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.3rem;
}
.service .service-wrap .right-nav-box .con-box ul li {
  font-size: 0.26rem;
  color: #333333;
  line-height: 0.8rem;
  height: 0.8rem;
  text-align: center;
  width: 48%;
  border-radius: 0.1rem;
  border: 0.02rem solid #d9d9d9;
  margin-bottom: 0.2rem;
  position: relative;
}
.service .service-wrap .right-nav-box .con-box ul li.on {
  background-color: #f9d8db;
  border: 0.02rem solid #ff0000;
}
.service .service-wrap .right-nav-box .con-box ul li.on img {
  display: block;
}
.service .service-wrap .right-nav-box .con-box ul li img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 0.39rem;
  height: 0.36rem;
  display: none;
}
.service .srue-box {
  height: 1.35rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  border-top: 0.01rem solid #e9e9e9;
}
.service .srue-box button {
  width: 7.04rem;
  height: 0.84rem;
  line-height: 0.84rem;
  text-align: center;
  background-color: #f03745;
  font-size: 0.34rem;
  color: #ffffff;
  outline: none;
  resize: none;
  border: none;
  border-radius: 0.1rem;
}
.merchant.view .user-infor {
  background-color: #ffffff;
}
.merchant.view .user-infor .user-img .title h2 {
  color: #333333;
}
.merchant.view .user-infor .user-img .address {
  color: #999999;
}
.merchant .user-infor {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.32rem 0.25rem;
  background-color: #f03745;
}
.merchant .user-infor .user-img {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  align-items: flex-start;
}
.merchant .user-infor .user-img .img {
  margin-right: 0.2rem;
}
.merchant .user-infor .user-img .img img {
  display: block;
  width: 1.08rem;
  height: 1.08rem;
  border-radius: 50%;
}
.merchant .user-infor .user-img .title {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .user-infor .user-img .title h2 {
  font-size: 0.3rem;
  color: #ffffff;
  margin-right: 0.2rem;
}
.merchant .user-infor .user-img .title p {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.2rem;
  color: #ffffff;
  height: 0.35rem;
  padding: 0 0.12rem;
  border-radius: 0.19rem;
  background-color: #f46974;
}
.merchant .user-infor .user-img .title p img {
  width: 0.21rem;
  height: 0.21rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}
.merchant .user-infor .user-img .address {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.24rem;
  color: #f8b7ba;
}
.merchant .user-infor .user-img .address img {
  width: 0.2rem;
  height: 0.22rem;
  margin-right: 0.12rem;
}
.merchant .user-infor > img {
  width: 0.18rem;
  height: 0.34rem;
}
.merchant .details .nav {
  background-color: #ffffff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .details .nav li {
  text-align: center;
  font-size: 0.28rem;
  color: #2c2c2c;
  font-weight: bold;
  flex-grow: 1;
  flex-shrink: 0;
  height: 0.85rem;
  line-height: 0.85rem;
  position: relative;
}
.merchant .details .nav li.on {
  color: #f03745;
}
.merchant .details .nav li.on::before {
  content: '';
  position: absolute;
  width: 0.52rem;
  height: 0.02rem;
  left: 50%;
  bottom: 0;
  margin-left: -0.26rem;
  background-color: #f03745;
}
.merchant .details .nav li.on span {
  color: #f03745;
}
.merchant .details .nav li span {
  font-size: 0.22rem;
  color: #999999;
}
.merchant .details .classify > li {
  margin-top: 0.15rem;
  background-color: #ffffff;
}
.merchant .details .classify > li .title {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  height: 0.75rem;
  padding: 0 0.25rem;
  border: 1px solid #eee;
  font-size: 0.24rem;
  color: #999999;
}
.merchant .details .classify > li .title img {
  width: 0.54rem;
  height: 0.54rem;
  padding: 0.14rem;
}
.merchant .details .classify > li .con {
  padding: 0.25rem;
}
.merchant .details .classify > li .con .address {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  align-items: flex-start;
}
.merchant .details .classify > li .con .address img {
  flex-shrink: 0;
  width: 0.2rem;
  height: 0.24rem;
  margin-right: 0.15rem;
  margin-top: 0.1rem;
}
.merchant .details .classify > li .con .text {
  font-size: 0.28rem;
  color: #333333;
  line-height: 0.38rem;
}
.merchant .details .classify > li .con .label {
  padding-left: 0.35rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}
.merchant .details .classify > li .con .label span {
  font-size: 0.24rem;
  color: #e96464;
  background-color: #faf5f5;
  height: 0.38rem;
  padding: 0 0.1rem;
  margin-right: 0.1rem;
}
.merchant .details .classify > li .con .label span:last-child {
  margin-right: 0;
}
.merchant .details .classify > li .con .img {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
}
.merchant .details .classify > li .con .img img {
  width: 1.64rem;
  height: 1.64rem;
  border: 0.04rem solid #e6e6e6;
  margin-right: 0.12rem;
  margin-bottom: 0.12rem;
}
.merchant .details .classify > li .con .img img:nth-child(4n+4) {
  margin-right: 0;
}
.merchant .details .classify > li .con .img-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
}
.merchant .details .classify > li .con .img-box img {
  width: 1.56rem;
  height: 1.56rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}
.merchant .details .classify > li .con .img-box img:nth-child(4n+4) {
  margin-right: 0;
}
.merchant .details .classify > li .user-info {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.35rem 0.25rem 0;
}
.merchant .details .classify > li .user-info .user-name {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .details .classify > li .user-info .user-name .user-img {
  margin-right: 0.2rem;
}
.merchant .details .classify > li .user-info .user-name .user-img img {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 50%;
}
.merchant .details .classify > li .user-info .user-name .user-details p {
  font-size: 0.24rem;
  color: #666666;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .details .classify > li .user-info .user-name .user-details p img {
  width: 0.21rem;
  height: 0.19rem;
  margin-right: 0.07rem;
}
.merchant .details .classify > li .user-info .user-name .user-details p img:last-child {
  margin-right: 0;
}
.merchant .details .classify > li .user-info .user-name .user-details .score {
  margin-top: 0.05rem;
}
.merchant .details .classify > li .user-info .time {
  font-size: 0.22rem;
  color: #999999;
}
.merchant .details .toMore {
  width: 100%;
  height: 0.76rem;
  line-height: 0.76rem;
  text-align: center;
  font-size: 0.26rem;
  color: #333333;
  -moz-box-shadow: 0px 0px 3px #999999;
  -webkit-box-shadow: 0px 0px 3px #999999;
  box-shadow: 0px 0px 3px #999999;
  background-color: #ffffff;
  padding: 0;
  outline: none;
  resize: none;
  border: none;
  display: block;
}
.merchant .details .toMore:active {
  background-color: #bbbbbb;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
}
.merchant .details .have-price {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 4;
  padding: 0.25rem;
  background-color: #ffffff;
}
.merchant .details .receipt {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0.25rem;
  height: 0.96rem;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
}
.merchant .details .receipt p {
  font-size: 0.32rem;
}
.merchant .details .receipt p span {
  font-size: 0.3rem;
  color: #ff2939;
}
.merchant .details .receipt p span em {
  font-size: 0.46rem;
}
.merchant .details .receipt .btn {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  width: 2.62rem;
  text-align: center;
  background-color: #f03745;
  font-size: 0.32rem;
  color: #ffffff;
}
.merchant .modify-notice {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  height: 0.88rem;
  line-height: 0.88rem;
  padding: 0 0.25rem;
  background-color: #fbebd8;
  font-size: 0.24rem;
  color: #e37438;
}
.merchant .modify-notice img {
  width: 0.34rem;
  height: 0.34rem;
  margin-right: 0.15rem;
}
.merchant .write-desc {
  background-color: #ffffff;
  padding: 0 0.25rem;
}
.merchant .write-desc p {
  height: 0.84rem;
  line-height: 0.84rem;
  font-size: 0.24rem;
  color: #999999;
}
.merchant .write-desc textarea {
  font-size: 0.28rem;
  color: #333333;
  line-height: 0.5rem;
  width: 100%;
  height: 1.85rem;
  resize: none;
  outline: none;
  border: none;
}
.merchant .write-desc .confirm {
  position: fixed;
  width: 100%;
  padding: 0.25rem;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}
.merchant .write-desc .upload-img .img-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  flex-wrap: wrap;
}
.merchant .write-desc .upload-img .img-box > div {
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
.merchant .write-desc .upload-img .img-box > div:nth-child(4n+4) {
  margin-right: 0;
}
.merchant .write-desc .upload-img .img-box .img {
  position: relative;
}
.merchant .write-desc .upload-img .img-box .img .showImg {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
}
.merchant .write-desc .upload-img .img-box .img .del {
  position: absolute;
  z-index: 2;
  right: -0.21rem;
  top: -0.21rem;
  width: 0.43rem;
  height: 0.43rem;
  border-radius: 50%;
}
.merchant .write-desc .upload-img .img-box .op-img {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px dashed #999999;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.merchant .write-desc .upload-img .img-box .op-img img {
  display: block;
  width: 0.61rem;
  height: 0.49rem;
  margin: 0 auto 0.15rem;
}
.merchant .write-desc .upload-img .img-box .op-img p {
  font-size: 0.24rem;
  color: #999999;
  text-align: center;
  line-height: 1;
  height: 1em;
}
.merchant .buytel {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
  font-size: 0.3rem;
  height: 0.9rem;
  background-color: #ffffff;
  margin: 0.2rem 0;
}
.merchant .buytel p {
  color: #333333;
}
.merchant .buytel em {
  font-size: 0.3rem;
  color: #f03745;
}
.merchant .buytel .input {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .buytel .input input {
  width: 1.7rem;
  font-size: 0.3rem;
  color: #333333;
}
.merchant .mine {
  background-color: #ffffff;
}
.merchant .mine > .title {
  font-size: 0.3rem;
  color: #666666;
  font-weight: bold;
  padding: 0 0.25rem;
  height: 0.76rem;
  line-height: 0.76rem;
}
.merchant .mine .list {
  padding: 0 0.25rem;
}
.merchant .mine .list li {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.17rem 0;
  border-bottom: 1px solid #eee;
}
.merchant .mine .list li p {
  font-size: 0.3rem;
  color: #333333;
  flex-shrink: 0;
}
.merchant .mine .list li span {
  font-size: 0.26rem;
  color: #999999;
}
.merchant .mine .map img {
  display: block;
  width: 100%;
}
.merchant .mine .other-sm {
  padding: 0 0.25rem;
}
.merchant .mine .other-sm .title {
  font-size: 0.3rem;
  color: #333333;
  height: 0.85rem;
  line-height: 0.85rem;
}
.merchant .mine .other-sm p {
  font-size: 0.26rem;
  color: #666666;
  line-height: 0.4rem;
}
.merchant .mine .concat {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
  font-size: 0.28rem;
  color: #333333;
  height: 0.9rem;
}
.merchant .mine .to-offer {
  padding: 0.25rem;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: #ffffff;
}
.merchant .all-merchant li {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.22rem 0.25rem;
  background-color: #ffffff;
  margin-top: 0.15rem;
}
.merchant .all-merchant li .name {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .all-merchant li .name .img {
  margin-right: 0.12rem;
}
.merchant .all-merchant li .name .img img {
  display: block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
}
.merchant .all-merchant li .title h5 {
  font-size: 0.22rem;
  color: #666666;
  margin-bottom: 0.05rem;
}
.merchant .all-merchant li .title p {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
}
.merchant .all-merchant li .title p img {
  width: 0.21rem;
  height: 0.19rem;
  margin-right: 0.08rem;
}
.merchant .all-merchant li .title p img:last-child {
  margin-right: 0;
}
.merchant .all-merchant li .to-more {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  font-size: 0.26rem;
  color: #333333;
}
.merchant .all-merchant li .to-more em {
  font-size: 0.34rem;
  color: #f03745;
}
.merchant .all-merchant li .to-more img {
  width: 0.11rem;
  height: 0.2rem;
  margin-left: 0.2rem;
}
.merchant .estimate {
  padding: 0.25rem 0.25rem 0;
  font-size: 0.26rem;
  color: #999999;
}
.needs {
  background-color: #f03745;
}
.needs .notice {
  font-size: 0.3rem;
  color: #ffffff;
  height: 1.25rem;
  line-height: 1.25rem;
  padding: 0 0.25rem;
}
.needs .nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
}
.needs .nav p {
  text-align: center;
  font-size: 0.3rem;
  color: #f5bebe;
  position: relative;
}
.needs .nav p:nth-child(2) {
  margin: 0 0.85rem;
}
.needs .nav p.on {
  font-size: 0.36rem;
  color: #ffffff;
}
.needs .nav p.on::before {
  content: '';
  position: absolute;
  width: 0.66rem;
  height: 3px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -0.33rem;
  bottom: -0.18rem;
}
.needs .swiper-box {
  width: 6.15rem;
  height: 9.15rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0.1rem;
}
.needs .swiper-box .noservice {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.3rem;
  color: #666666;
  height: 100%;
}
.needs .swiper-box .noservice img {
  width: 1.9rem;
  height: 1.64rem;
  margin-bottom: 0.3rem;
}
.needs .gallery-top,
.needs .gallery-top0,
.needs .gallery-top1,
.needs .gallery-top2 {
  width: 6.15rem;
  height: 9.15rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0.1rem;
}
.needs .gallery-top .swiper-slide,
.needs .gallery-top0 .swiper-slide,
.needs .gallery-top1 .swiper-slide,
.needs .gallery-top2 .swiper-slide {
  padding-top: 0.5rem;
}
.needs .gallery-top .name,
.needs .gallery-top0 .name,
.needs .gallery-top1 .name,
.needs .gallery-top2 .name {
  text-align: center;
  color: #333333;
}
.needs .gallery-top .name h2,
.needs .gallery-top0 .name h2,
.needs .gallery-top1 .name h2,
.needs .gallery-top2 .name h2 {
  font-size: 0.32rem;
  line-height: 1.5;
  font-weight: bold;
}
.needs .gallery-top .name p,
.needs .gallery-top0 .name p,
.needs .gallery-top1 .name p,
.needs .gallery-top2 .name p {
  font-size: 0.24rem;
}
.needs .gallery-top .img,
.needs .gallery-top0 .img,
.needs .gallery-top1 .img,
.needs .gallery-top2 .img {
  margin: 0.6rem 0 0.52rem;
}
.needs .gallery-top .img img,
.needs .gallery-top0 .img img,
.needs .gallery-top1 .img img,
.needs .gallery-top2 .img img {
  display: block;
  width: 5.2rem;
  height: 2.7rem;
  margin: 0 auto;
}
.needs .gallery-top .have,
.needs .gallery-top0 .have,
.needs .gallery-top1 .have,
.needs .gallery-top2 .have {
  font-size: 0.24rem;
  color: #666666;
  text-align: center;
  margin-bottom: 0.3rem;
}
.needs .gallery-top .have em,
.needs .gallery-top0 .have em,
.needs .gallery-top1 .have em,
.needs .gallery-top2 .have em {
  color: #e73333;
  margin: 0 0.12rem;
}
.needs .gallery-top .have-swiper,
.needs .gallery-top0 .have-swiper,
.needs .gallery-top1 .have-swiper,
.needs .gallery-top2 .have-swiper,
.needs .gallery-top .have-swiper0,
.needs .gallery-top0 .have-swiper0,
.needs .gallery-top1 .have-swiper0,
.needs .gallery-top2 .have-swiper0,
.needs .gallery-top .have-swiper1,
.needs .gallery-top0 .have-swiper1,
.needs .gallery-top1 .have-swiper1,
.needs .gallery-top2 .have-swiper1,
.needs .gallery-top .have-swiper2,
.needs .gallery-top0 .have-swiper2,
.needs .gallery-top1 .have-swiper2,
.needs .gallery-top2 .have-swiper2 {
  width: 4.7rem;
  margin: 0 auto;
}
.needs .gallery-top .have-swiper .details img,
.needs .gallery-top0 .have-swiper .details img,
.needs .gallery-top1 .have-swiper .details img,
.needs .gallery-top2 .have-swiper .details img,
.needs .gallery-top .have-swiper0 .details img,
.needs .gallery-top0 .have-swiper0 .details img,
.needs .gallery-top1 .have-swiper0 .details img,
.needs .gallery-top2 .have-swiper0 .details img,
.needs .gallery-top .have-swiper1 .details img,
.needs .gallery-top0 .have-swiper1 .details img,
.needs .gallery-top1 .have-swiper1 .details img,
.needs .gallery-top2 .have-swiper1 .details img,
.needs .gallery-top .have-swiper2 .details img,
.needs .gallery-top0 .have-swiper2 .details img,
.needs .gallery-top1 .have-swiper2 .details img,
.needs .gallery-top2 .have-swiper2 .details img {
  display: block;
  width: 0.68rem;
  height: 0.68rem;
  border-radius: 50%;
  margin: 0 auto;
}
.needs .gallery-top .have-swiper .details p,
.needs .gallery-top0 .have-swiper .details p,
.needs .gallery-top1 .have-swiper .details p,
.needs .gallery-top2 .have-swiper .details p,
.needs .gallery-top .have-swiper0 .details p,
.needs .gallery-top0 .have-swiper0 .details p,
.needs .gallery-top1 .have-swiper0 .details p,
.needs .gallery-top2 .have-swiper0 .details p,
.needs .gallery-top .have-swiper1 .details p,
.needs .gallery-top0 .have-swiper1 .details p,
.needs .gallery-top1 .have-swiper1 .details p,
.needs .gallery-top2 .have-swiper1 .details p,
.needs .gallery-top .have-swiper2 .details p,
.needs .gallery-top0 .have-swiper2 .details p,
.needs .gallery-top1 .have-swiper2 .details p,
.needs .gallery-top2 .have-swiper2 .details p {
  font-size: 0.22rem;
  color: #666666;
  text-align: center;
  margin-top: 0.12rem;
}
.needs .gallery-top .has-no,
.needs .gallery-top0 .has-no,
.needs .gallery-top1 .has-no,
.needs .gallery-top2 .has-no {
  font-size: 0.24rem;
  color: #666666;
  text-align: center;
}
.needs .gallery-top .overdue,
.needs .gallery-top0 .overdue,
.needs .gallery-top1 .overdue,
.needs .gallery-top2 .overdue {
  text-align: center;
}
.needs .gallery-top .overdue h2,
.needs .gallery-top0 .overdue h2,
.needs .gallery-top1 .overdue h2,
.needs .gallery-top2 .overdue h2 {
  font-size: 0.3rem;
  color: #333333;
  line-height: 0.5rem;
}
.needs .gallery-top .overdue p,
.needs .gallery-top0 .overdue p,
.needs .gallery-top1 .overdue p,
.needs .gallery-top2 .overdue p {
  font-size: 0.24rem;
  color: #666666;
  line-height: 0.5rem;
}
.needs .gallery-top .see-more,
.needs .gallery-top0 .see-more,
.needs .gallery-top1 .see-more,
.needs .gallery-top2 .see-more {
  text-align: center;
  font-size: 0.24rem;
  color: #e73333;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0.65rem;
}
.needs .gallery-thumbs,
.needs .gallery-thumbs0,
.needs .gallery-thumbs1,
.needs .gallery-thumbs2 {
  position: fixed;
  width: 7rem;
  left: 0.25rem;
  bottom: 0;
}
.needs .gallery-thumbs .swiper-slide,
.needs .gallery-thumbs0 .swiper-slide,
.needs .gallery-thumbs1 .swiper-slide,
.needs .gallery-thumbs2 .swiper-slide {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  align-items: flex-end;
  height: 0.98rem;
}
.needs .gallery-thumbs .swiper-slide .num,
.needs .gallery-thumbs0 .swiper-slide .num,
.needs .gallery-thumbs1 .swiper-slide .num,
.needs .gallery-thumbs2 .swiper-slide .num {
  width: 100%;
  height: 0.33rem;
  padding-top: 0.33rem;
  background-color: #ffffff;
  text-align: center;
  font-size: 0.34rem;
  color: #e73333;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  transition: height 0.3s ease 0s;
  -webkit-transition: height 0.3s ease 0s;
  -moz-transition: height 0.3s ease 0s;
  -ms-transition: height 0.3s ease 0s;
}
.needs .gallery-thumbs .swiper-slide-thumb-active .num,
.needs .gallery-thumbs0 .swiper-slide-thumb-active .num,
.needs .gallery-thumbs1 .swiper-slide-thumb-active .num,
.needs .gallery-thumbs2 .swiper-slide-thumb-active .num {
  height: 0.98rem;
  transition: height 0.3s ease 0s;
  -webkit-transition: height 0.3s ease 0s;
  -moz-transition: height 0.3s ease 0s;
  -ms-transition: height 0.3s ease 0s;
}
